<div class="container search-table">
    <div class="search-box">
        <div class="row">
            <div class="col-md-9">
                <input type="text" id="myInput" class="form-control" placeholder="Pesquisar eventos"
                    [formControl]="queryField">
            </div>
            <div class="col-md-3">
                <button class="btn btn-lg btn-success" (click)="onSearch()">
                    Pesquisar
                </button>
            </div>
        </div>
    </div>
    <div class="search-list">
        <h3>{{total}} eventos encontrados</h3>
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Evento</th>
                    <th>Descrição</th>
                    <th>Data</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events$ | async">
                    <td>{{event.type}}</td>
                    <td>{{event.description}}</td>
                    <td>{{event.date}}</td>
                    <td>
                        <button class="btn btn-outline-secondary" [routerLink]="['details', event.id]">Detalhes</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" (click)="onDelete(event.id)">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>