<div class="card">
    <div class="card-header">
        <h2> Lista de eventos de {{ studentName }}. </h2>
    </div>
    <div class="card-body">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events" >
                    <th scope="row">{{ event.id }}</th>
                    <td> {{ event.type }} </td>
                    <td> {{ event.description }}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>