<div class="card">
    <div class="card-header">
        <p> Lista de eventos de {{ studentName }}. </p>
    </div>
    <div class="card-body">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Data</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events$ | async" >
                    <th scope="row">{{ event.id }}</th>
                    <td> {{ event.type }} </td>
                    <td> {{ event.description }}</td>
                    <td> {{ event.date | date: 'dd/MM/yyyy' }} </td>
                    <td>
                        <button class="btn btn-outline-secondary" (click)="onEdit(event.id)">Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary" (click)="onDelete(event.id)">Excluir</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>