<div class="container search-table">
    <div class="container mb-2">
        <button class="btn btn-primary mb-3" [routerLink]="['create']">Nova vacina</button>
    </div>
    <div class="search-box">
        <div class="row">
            <div class="col-md-9">
                <input type="text" id="myInput" class="form-control" placeholder="Pesquisar vacinas"
                    [formControl]="queryField" (keydown)="onRefresh()">
            </div>
            <div class="col-md-3">
                <button class="btn btn-lg btn-success" (click)="onSearch()">
                    Pesquisar
                </button>
            </div>
        </div>
    </div>
    <div class="search-list">
        <p>{{total}} vacinas encontradas</p>
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th>Vacina</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vaccine of vaccines$ | async">
                    <td>{{vaccine.name}}</td>
                    <td>
                        <button class="btn btn-outline-secondary" [routerLink]="['edit', vaccine.id]">Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" (click)="onDelete(vaccine.id)">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>