<div class="container search-table">
    <div class="container mb-2">
        <button class="btn btn-primary" [routerLink]="['create']">Novo aluno</button>
    </div>
    <div class="search-box">
        <div class="row">
            <div class="col-md-9">
                <input type="text" id="myInput" class="form-control" placeholder="Pesquisar alunos"
                    [formControl]="queryField">
                <!-- <script>
                    $(document).ready(function () {
                        $("#myInput").on("keyup", function () {
                            var value = $(this).val().toLowerCase();
                            $("#myTable tr").filter(function () {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                        });
                    });
                </script> -->
            </div>
            <div class="col-md-3">
                <button class="btn btn-lg btn-success" (click)="onSearch()">
                    Pesquisar
                </button>
            </div>
        </div>
    </div>
    <div class="search-list">
        <h3>{{total}} alunos encontrados</h3>
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Série</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let result of results$ | async">
                    <td>{{result.name}}</td>
                    <td>{{result.grade}}</td>
                    <th><button class="btn btn-outline-secondary" [routerLink]="['details', result.id]">Detalhes</button></th>
                    <td>
                        <button class="btn btn-outline-secondary" [routerLink]="['edit', result.id]">Editar</button>
                    </td>
                    <td>
                        <button class="btn btn-outline-danger" (click)="onDelete(result.id)">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- <ng-template #deleteModal>
    <div class="modal-body text-center">
        <p>Quer realmente remover este aluno?</p>
        <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
        <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
    </div>
</ng-template> -->