<div>
    <tabset>
        <tab heading="Informações Básicas" id="tab1">
            <div class="col-md-6">
                <label>Nome</label>
                <p>{{ student.name }}</p>
            </div>
            <div class="col-md-6">
                <label>CPF</label>
                <p>{{ student.cpf }}</p>
            </div>
            <div class="col-md-6">
                <label>Data de Nascimento</label>
                <p>{{ student.birthDate }}</p>
            </div>
            <div class="col-md-6">
                <label>Gênero</label>
                <p>{{ student.gender }}</p>
            </div>
            <div class="col-md-6">
                <label>Série/Turma</label>
                <p>{{ student.grade }}</p>
            </div>
        </tab>
        <tab heading="Eventos">
            
        </tab>
        <tab heading="Vacinas">

        </tab>
    </tabset>
</div>