<div class="container">
    <h1>{{ student.name }}</h1>
    <tabset>
        <tab heading="Informações Básicas" id="tab1">
            <div class="col-md-6">
                <label>Nome</label>
                <p>{{ student.name }}</p>
            </div>
            <div class="col-md-6">
                <label>CPF</label>
                <p>{{ student.cpf }}</p>
            </div>
            <div class="col-md-6">
                <label>Data de Nascimento</label>
                <p>{{ student.birthDate | date: 'dd/MM/yyyy' }}</p>
            </div>
            <div class="col-md-6">
                <label>Gênero</label>
                <p>{{ student.gender }}</p>
            </div>
            <div class="col-md-6">
                <label>Série/Turma</label>
                <p>{{ student.grade }}</p>
            </div>
        </tab>
        <tab heading="Eventos">
            <section>
                <div><h2>Criar novo evento</h2></div>
                <div class="container mb-2">
                    <app-event-create (eventCreated)="eventCreated()" *ngIf="showEvents" [studentId]="student.id"></app-event-create>
                </div>
            </section>
            <hr>
            <section>
                <h2>Lista de eventos</h2>
                <app-event-list-by-student *ngIf="showEvents" [studentId]="student.id" [studentName]="student.name">
                </app-event-list-by-student>
            </section>
        </tab>
        <tab heading="Vacinas">
            <section>
                <div>
                    <h2>Inserir nova vacinação</h2>
                </div>
                <div class="container mb-2">
                    <app-vaccines-taken-create (vaccineCreated)="vaccineCreated()" *ngIf="showVaccinesTaken" [studentId]="student.id" [studentName]="student.name" ></app-vaccines-taken-create>
                </div>
            </section>
            <hr>
            <section>
                <h2>Lista de vacinas aplicadas</h2>
                <app-vaccines-taken *ngIf="showVaccinesTaken" [studentId]="student.id" [studentName]="student.name">
                </app-vaccines-taken>
            </section>
        </tab>
    </tabset>
</div>